/* Reset basico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Fondo y texto */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    padding: 20px;  
}

/* EStilo para el encabezado */
header { 
    text-align: center;
    margin-bottom: 60px; /* Espacio entre el encabezado y el contenido */
    padding: 20px;  
}

/* Titulo */
header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff
}

/* Estilo para el parrafo */
header p { 
    font-size: 20px; 
    color: #aaa;  /* Color gris claro para el parrafo */
}

/* SECCIONES GENERALES */
section {
    max-width: 800px;
    margin: 0 auto 60px auto; /* Espacio entre el contenido y el pie de pagina */
    padding: 0 20px;
}

section h2 {
    font-size: 32px; /* Titulo de la seccion */
    margin-bottom: 20px; /* Espacio entre el titulo y el contenido */
    border-bottom: 2px solid #fff; /* Linea debajo del titulo */
    display: inline-block; /* Para que la linea se ajuste al ancho del texto */
    padding-bottom: 5px; /* Espacio entre el texto y la linea */
}

section p,
section li {
    font-size: 18px; /* Parrafo de la seccion */
    margin-bottom: 20px; /* Espacio entre los parrafos */
    color: #ddd; /* Color gris claro para el parrafo */
}

/* LISTA DE SERVICIOS */
ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding de la lista */
}

.servicios-lista li::before {
    content: "✔"; /* Agregar un check antes de cada elemento de la lista */
    color: #fff; /* Color blanco para el check */
    font-size: 20px; /* Tamaño del check */
    margin-right: 8px; /* Espacio entre el check y el texto */
}

/* ENLACES */
a {
    color: #fff; /* Color blanco para los enlaces */
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    font-weight: bold; /* Negrita para los enlaces */
}
a:hover {
    text-decoration: underline; /* Subrayar los enlaces al pasar el mouse */
    color: #aaa; /* Color gris claro para los enlaces al pasar el mouse */
}

/* LOGO ARRIBA A LA IZQUIERDA */

.logo-img {
    height: 90px;
    width:auto; /* Tamaño del logo */
    vertical-align: middle; /* Alinear el logo verticalmente */
}

.logo-solo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px; /* Tamaño de la letra del logo */
    color: #fff; /* Color blanco para el logo */
    font-weight: bold; /* Negrita para el logo */
    letter-spacing: 1px; /* Espacio entre las letras del logo */
}

/* Media query para moviles */
@media (max-width: 600PX) {
    h1 {
        font-size: 36px; /* Titulo mas pequeño en pantallas pequeñas */
    }
    p,
    section p,
    section li {
        font-size: 16px; /* Parrafo mas pequeño en pantallas pequeñas */
    }

    section h2 {
        font-size: 24px; /* Titulo de la seccion mas pequeño en pantallas pequeñas */
    }

    body {
        padding: 30px; /* menos espacio en pantallas mas peques*/
    }
}

